.simpleCalculate {
    height: 200px;
    width: 898px;
    background: #98d648;
}

.simpleCalculate:hover {
    box-shadow: #91ff00 1px 0 60px;
}

.titleCalculate {
    margin: 30px 0px 30px 0px;
    text-align: center;
    display: block;
    color: white;
    font-size: 30px;
}

.nameArea {
    display: inline-block;
    width: 160px;
    margin: 0px 0px 0px 20px;
    font-size: 17px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.inputArea {
    margin: 0px 25px 0px 40px;
    height: 25px;
    width: 55px;
    padding: 0px 0px 0px 7px;
    color: #84d618;
    font-size: 20px;
    font-weight: 700;
}

.final {
    margin: 0px 0px 0px 40px;
    width: 100px;
    background: #98d648;
    font-size: 40px;
    color: white;
}

.buttonSimpleCalculate {
    margin: 25px 265px 0px 90px;
    display: block;
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
}

.buttonSimpleCalculate:hover {
    background: #000;
    color: white;
    text-shadow: white 1px 0 10px;
    box-shadow: black 1px 0 10px;
}

/* ------------------ProCalculate---------------- */

.proCalculate {
    height: 400px;
    width: 400px;
    background: rgb(49, 209, 201);
}

.proCalculate:hover {
    box-shadow: rgb(5, 139, 180) 1px 0 50px;
}

.finalPro {
    margin: 40px 0px 0px 70px;
    width: 130px;
    background: rgb(49, 209, 201);
    font-size: 40px;
    color: white;
}

.inputAreaPro {
    margin: 0px 25px 0px 40px;
    height: 25px;
    width: 70px;
    padding: 0px 0px 0px 7px;
    color: rgb(5, 139, 180);
    font-size: 20px;
    font-weight: 700;
}

.buttonCalculate {
    margin: 50px 20px 0px 115px;
    display: block;
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
}

.buttonCalculate:hover {
    background: #000;
    color: white;
    text-shadow: white 1px 0 10px;
    box-shadow: black 1px 0 10px;
}

.kg {
    color: white;
    font-size: 30px;
}

.inputPoints {
    margin: 0px 0px 20px 0px;
}

.indexValue {
    color: white;
    font-size: 18px;
}

.indexKg {
    color: white;
    margin: 0px 0px 0px 20px;
    font-size: 19px;
}

/* ------------------------------------------ */
.posivnaPridatnist{
    background: coral;
    height: 400px;
    width: 400px;
}

.posivnaPridatnist:hover {
    box-shadow: rgb(219, 79, 28) 1px 0 50px;
}

.buttonPosivna{
    margin: 45px 0px 0px 115px;
    display: block;
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
}

.inputAreaPosivna {
    margin: 0px 25px 0px 40px;
    height: 25px;
    width: 50px;
    padding: 0px 0px 0px 7px;
    color: coral;
    font-size: 20px;
    font-weight: 700;
}

.buttonPosivna:hover {
    background: #000;
    color: white;
    text-shadow: white 1px 0 10px;
    box-shadow: black 1px 0 10px;
}


.posivnaResult{
    margin: 0px 0px 0px 50px;
    width: 115px;
    background: coral;
    font-size: 40px;
    color: white;
}
.indexPosivna {
    display: inline-block;
    color: white;
    margin: 80px 0px 0px 20px;
    font-size: 19px;
}