.simpleCalculate {
    margin: 0 auto;
    padding-top: 15px;
    height: 350px;
    width: 400px;
    background: #E79902;
    opacity: 0.6;
}

.simpleCalculate:hover {
    box-shadow: #ffffff 10px 0 90px;
    border: 2px solid #ffffff;
    opacity: 1;
    transition: 1s;
}

.titleSimpleCalculate {
    margin: 10px 0px 10px 0px;
    text-align: center;
    display: block;
    color: rgb(54, 72, 61);
    font-size: 30px;
}

.titleCulture {
    text-align: center;
    display: block;
    color: rgb(54, 72, 61);
    font-size: 30px;
    margin: 0px 0px 30px 0px;
}

.nameSimpleArea {
    display: inline-block;
    width: 160px;
    margin: 20px 0px 0px 20px;
    font-size: 17px;
    font-weight: 700;
    color: rgb(54, 72, 61);
}

.inputArea {
    margin: 0px 25px 0px 40px;
    height: 25px;
    width: 55px;
    padding: 0px 0px 0px 7px;
    color: rgb(54, 72, 61);
    font-size: 20px;
    font-weight: 700;
}

.final {
    margin: 0px 0px 0px 60px;
    width: 100px;
    background: #E79902;
    font-size: 40px;
    color: rgb(54, 72, 61);
}

.buttonSimpleCalculate {
    margin: 50px 0px 40px 120px;
    display: block;
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    display: block;
}

.buttonSimpleCalculate:hover {
    background: rgb(255, 255, 255);
    color: #E79902;
    text-shadow: white 1px 0 15px;
    box-shadow: rgb(255, 255, 255) 1px 0 40px;
}

/* ------------------ProCalculate---------------- */

.proCalculate {
    height: 400px;
    width: 400px;
    background: rgb(232, 223, 121);
    opacity: 0.8;
}

.proCalculate:hover {
    box-shadow: rgb(255, 245, 135) 1px 0 80px;
    border: 2px solid #ffffff;
    opacity: 1;
    transition: 1s;
}

.titleCalculate {
    margin: 40px 0px 30px 0px;
    text-align: center;
    display: block;
    color: rgb(54, 72, 61);
    font-size: 30px;
}

.nameArea {
    display: inline-block;
    width: 160px;
    margin: 0px 0px 0px 20px;
    font-size: 17px;
    font-weight: 700;
    color: rgb(54, 72, 61);
}

.finalPro {
    margin: 40px 0px 0px 70px;
    width: 130px;
    background: rgb(232, 223, 121);
    font-size: 40px;
    color: rgb(54, 72, 61);
}

.inputAreaPro {
    margin: 0px 25px 0px 40px;
    height: 25px;
    width: 70px;
    padding: 0px 0px 0px 7px;
    color: rgb(54, 72, 61);
    font-size: 20px;
    font-weight: 700;
    align-items: center;
}

.buttonCalculate {
    margin: 50px 20px 0px 115px;
    display: block;
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
}

.buttonCalculate:hover {
    background: rgb(255, 255, 255);
    color: rgb(192, 179, 40);
    text-shadow: white 1px 0 10px;
    box-shadow: rgb(255, 255, 255) 1px 0 30px;
}

.kg {
    color: rgb(54, 72, 61);
    font-size: 30px;
}

.inputPoints {
    margin: 0px 0px 20px 0px;
}

.indexValue {
    color: rgb(54, 72, 61);
    font-size: 18px;
}

.indexKg {
    color: rgb(54, 72, 61);
    margin: 0px 0px 0px 30px;
    font-size: 19px;
}

/* ------------------------------------------ */

.posivnaPridatnist {
    background: rgb(224, 192, 68);
    height: 400px;
    width: 400px;
    opacity: 0.8;
}

.posivnaPridatnist:hover {
    box-shadow: rgb(253, 220, 87) 1px 0 80px;
    border: 2px solid #ffffff;
    opacity: 1;
    transition: 1s;
}

.buttonPosivna {
    margin: 45px 0px 0px 115px;
    display: block;
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
}

.inputAreaPosivna {
    margin: 0px 25px 0px 40px;
    height: 25px;
    width: 50px;
    padding: 0px 0px 0px 7px;
    color: rgb(54, 72, 61);
    font-size: 20px;
    font-weight: 700;
}

.buttonPosivna:hover {
    background: rgb(255, 255, 255);
    color: rgb(201, 167, 34);
    text-shadow: white 1px 0 10px;
    box-shadow: rgb(255, 255, 255) 1px 0 20px;
}

.posivnaResult {
    margin: 0px 0px 0px 50px;
    width: 115px;
    background: rgb(224, 192, 68);
    font-size: 40px;
    color: rgb(54, 72, 61);
}

.indexPosivna {
    display: inline-block;
    color: rgb(54, 72, 61);
    margin: 80px 0px 0px 20px;
    font-size: 19px;
}

/* --------------------------------------------- */

/* corn calculate */

.cornCalculate {
    height: 600px;
    width: 450px;
    background: rgb(232, 223, 121);
    opacity: 0.6;
}

.cornCalculate:hover {
    box-shadow: rgb(255, 243, 109) 1px 0 80px;
    border: 2px solid #ffffff;
    opacity: 1;
    transition: 1s;
}

.buttonCalculateCorn {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 40px;
    display: block;
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    display: block;
}

.buttonCalculateCorn:hover {
    background: rgb(255, 255, 255);
    color: rgb(201, 167, 34);
    text-shadow: white 1px 0 10px;
    box-shadow: rgb(255, 255, 255) 1px 0 40px;
}

.indexCorn {
    margin: 0px 20px 0px 20px;
    color: rgb(54, 72, 61);
    font-size: 19px;
    display: inline-block;
    width: 150px;
}

.finalCorn {
    margin: 10px 10px 0px 0px;
    width: 120px;
    background: rgb(232, 223, 121);
    font-size: 40px;
    color: rgb(54, 72, 61);
    text-align: center;
}
.kgCorn{
    color: rgb(54, 72, 61);
    font-size: 25px;
    display: inline-block;
}
.indexCornNorma{
    margin: 0px 20px 0px 20px;
    color: rgb(54, 72, 61);
    font-size: 19px;
    display: inline-block;
    width: 150px;
}
.kgCorn1{
    color: rgb(54, 72, 61);
    font-size: 25px;
    display: inline-block;
}

/* --------------------------------------- */
/* --------------------------------------- */

.beetCalculate{
    height: 550px;
    width: 550px;
    background: rgb(232, 223, 121);
    opacity: 0.6;
    margin: 0 auto  ;
}

.beetCalculate:hover{
    box-shadow: rgb(255, 243, 109) 1px 0 80px;
    border: 2px solid #ffffff;
    opacity: 1;
    transition: 1s;
}
.titleBeet{
    padding: 35px 0px 50px 0px;
    text-align: center;
    display: block;
    color: rgb(54, 72, 61);
    font-size: 30px;
}
.nameBeet{
    display: inline-block;
    width: 260px;
    margin: 0px 0px 0px 20px;
    font-size: 17px;
    font-weight: 700;
    color: rgb(54, 72, 61);
}
.buttonCalculateBeet{
    margin: 0 auto;
    margin-top: 50px;
    display: block;
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
}
.buttonCalculateBeet:hover {
    background: rgb(255, 255, 255);
    color: rgb(192, 179, 40);
    text-shadow: white 1px 0 10px;
    box-shadow: rgb(255, 255, 255) 1px 0 30px;
}
.indexBeet {
    margin: 0px 20px 0px 20px;
    color: rgb(54, 72, 61);
    font-size: 19px;
    display: inline-block;
    width: 200px;
}
.finalBeet {
    margin: 20px 20px 0px 50px;
    width: 130px;
    background: rgb(232, 223, 121);
    font-size: 40px;
    color: rgb(54, 72, 61);
    text-align: center;
}