header {
    background: url('../../img/Header.jpg') 0 -600px no-repeat ;
    width: 100%;
    height: 90px;
    font-size: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
}

.headerItem {
    font-size: 40px;
}