.bar{
    width: 450px;
    height: 43px;
    margin: 0px 0px 20px 0px;
    display: flex;
    justify-content: space-between;
}

.tab_button{
    width: 140px;
    height: 43px;
    background: transparent;
    color: #6fbe08;
    font-size: 30px;
    font-weight: 700;
    /* border: 1px solid black; */
}
.tab_button:hover{
    border-bottom: 4px solid #6fbe08;
}