* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* <-------------------------------------------> */

body {
  background-color: rgb(228, 225, 225);
}

a {
  color: white;
  margin-right: 70px;
}

header {
  background: #98d648;
  width: 100%;
  height: 70px;
  font-size: 60px;
  color: white;
}

.headerLogo {
  display: inline;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 20px 0px 20px 0px;
  color: #6fbe08;
  font-weight: 700;
}

.main {
  width: 1100px;
  height: auto;
  margin: 0 auto;
  padding: 100px 100px 100px 100px;
  display: flex;
  justify-content: space-between;
}

.simpleCalculate {
  height: 300px;
  width: 400px;
  background: #98d648;
  
}

.simpleCalculate:hover {
  box-shadow: #65ac08 1px 0 50px;
}

.titleCalculate {
  margin: 30px 0px 30px 0px;
  text-align: center;
  display: block;
  color: white;
  font-size: 30px;
}

.nameArea {
  display: inline-block;
  width: 160px;
  margin: 0px 0px 0px 20px;
  font-size: 17px;
  font-weight: 700;
  color: white;
}

.inputArea {
  margin: 0px 25px 0px 40px;
  height: 25px;
  width: 50px;
  padding: 0px 0px 0px 15px;
}

.final {
  margin: 40px 0px 0px 100px;
  width: 100px;
  background: #98d648;
  font-size: 40px;
  color: white;
}

.buttonCalculate {
  margin: 50px 20px 0px 115px;
  display: block;
  width: 150px;
  height: 40px;
  font-size: 20px;
  font-weight: 600;
}

.buttonCalculate:hover {
  background: #000;
  color: white;
  text-shadow: white 1px 0 10px;
  box-shadow: black 1px 0 10px;
}

.proCalculate {
  height: 400px;
  width: 400px;
  background: rgb(49, 209, 201);
}

.proCalculate:hover {
  box-shadow: rgb(5, 139, 180) 1px 0 50px;
}

.finalPro {
  margin: 40px 0px 0px 70px;
  width: 130px;
  background: rgb(49, 209, 201);
  font-size: 40px;
  color: white;
}

.kg {
  color: white;
  font-size: 30px;
}

.inputPoints {
  margin: 0px 0px 20px 0px;
}

.indexValue {
  color: white;
  font-size: 18px;
}
.indexKg{
  color: white;
  margin: 0px 0px 0px 20px;
  font-size: 19px;
}


.login{
  margin: 0 auto;
  height: 500px;
  width: 400px;
  background: white;
}

.data{
  display: block;
  height: 30px;
  width: 350px;
  border: 2px solid green;
  margin: 20px 0px 10px 20px;
  font-size: 18px;
}

.LoginButton{
  height: 50px;
  width: 200px;
  background: rgb(31, 233, 31);
  font-size: 30px;
  color: white;
  font-weight: 700;
  margin: 50px 0px 10px 90px;
}